@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #8758ff;
    display: flex;
    justify-content: center;
    align-items: center;
}